{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid ">
    <h3>About Us</h3>
    <div class="d-flex gap-3 justify-content-center mt-5">
        <img src="https://img.freepik.com/premium-photo/wallpaper-lamborghini-car-with-smoke-galaxy-vibe-generated-ai_843138-353.jpg" alt="">
        <div class="content">
            <h2>HII... I AM SATHRIYAN. (Junior Web Developer).
                THIS IS MY FIRST WEBSITE USING DJANGO.</h2>
        </div>
        
    </div>
</div>
{% endblock %}
   